#
# Copyright (C) 2025 The Android Open Source Project
#
# SPDX-License-Identifier: Apache-2.0
#

# oplus bspFwUpdate service
service bspFwUpdate /system/bin/bspFwUpdate
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on init
    symlink /vendor/firmware /odm/firmware
    start bspFwUpdate

on property:sys.fw_boot=progress_done
    stop bspFwUpdate
    # update touchscreen firmware
    chown system system /proc/touchpanel/tp_fw_update
    write /proc/touchpanel/tp_fw_update 1

# oplus cryptoeng service
service hal_cryptoeng_oppo /system/bin/hw/vendor.oppo.hardware.cryptoeng@1.0-service
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    disabled
    seclabel u:r:recovery:s0

on fs
    start hal_cryptoeng_oppo
    setprop ro.separate.soft ${ro.boot.prjname}

# on property:hwservicemanager.ready=true
#     start hal_cryptoeng_oppo
#     setprop ro.separate.soft ${ro.boot.prjname}
# 
# on property:ro.crypto.state=unsupported
#     stop hal_cryptoeng_oppo
#     setprop ro.separate.soft ${ro.boot.prjname}
# 
# on property:ro.crypto.state=unencrypted
#     stop hal_cryptoeng_oppo
#     setprop ro.separate.soft ${ro.boot.prjname}
# 
# on property:twrp.decrypt.done=true
#     stop hal_cryptoeng_oppo